.row
	p
		a(href='/converted.jpeg' class='btn btn-success')
			| Download JPEG
	p
		a(href='/converted.png' class='btn btn-success')
			| Download PNG
	p
		a(href='/converted.gif' class='btn btn-success')
			| Download GIF